<h2>All items on Invoice:</h2>
  <% @invoice.invoice_items.each do |invoice_item| %>
    <div id="invoice_item-<%= invoice_item.id %>">
      <%= invoice_item.item.name %>
      <%= invoice_item.quantity %>
      <% if @invoice.discount_items.include?(invoice_item) %>
        <%=link_to "#{@invoice.discount_items.find(invoice_item.id).discount_percentage}% off", merchant_discount_path(@merchant.id, @invoice.discount_items.find(invoice_item.id).discount_id) %>
      <% end %>
      <%= render partial: "dropdown", locals: {invoice_item: invoice_item} %>
    </div>
  <% end %>
<h3>Revenue Before Discounts: $<%=  @invoice.total_revenue %></h3>
<h3>Total Discounts: $<%=  @invoice.total_discount %></h3>
<h3>Final Revenue: $<%=  @invoice.final_revenue %></h3>
